<div class="container--min content--dynamic">
  <h1>ebabz home</h1>
  <p><%= @fest.fest_string %></p>
  <% if @fest.address.present? %>
    <p><%= @fest.address.address_string %></p>
  <% end %>
</div>
