<div class="container--min content--dynamic">
  <h1>ebabz home</h1>
  <p><%= @event.event_string %></p>
  <% if @event.address.present? %>
    <p><%= @event.address.address_string %></p>
  <% end %>
</div>
