<div class="vendors container--min content--narrow">
  <%= render "section", heading: "Vendors" do %>
    <% @fest.vendors.each do |vendor| %>
      <%= render "vendor", vendor: vendor %>
    <% end %>
  <% end %>
</div>
