<div class="about container--min content--narrow">
  <%= render "fest_info", fest: @fest %>

  <% if @faqs.any? %>
    <h2>Frequenty Asked Questions</h2>
  <% end %>
  <% @faqs.each do |faq| %>
    <div>
      <p><%= faq.question %></p>
      <p><%= faq.answer %></p>
    </div>
  <% end %>

  <% if @general_info.safe_space_policy.present? %>
    <h2>Safe Space Policy</h2>
    <div>
      <%= @general_info.safe_space_policy %>
    </div>
  <% end %>
</div>
