.article {
  position: relative;
  display: inline-block;
  @include unstyled-link;
  margin-bottom: 12px;

  @include min-media-query($screen-md-min) {
    padding: 0px 16px;
    &:before {
      border-left: $border-size solid $black;
    }
  }
}

.article__title {
}

.article__publication {
  font-style: italic;
  position: relative;
  @include min-media-query($screen-md-min) {
    left: -4px;
  }
}
