.donate {
  display: inline-block;
}

.donate__submit {
  text-transform: inherit;
  color: inherit;
  font-size: inherit;
  letter-spacing: inherit;

  appearance: none;
  border: none;
  background: none;
  outline: none;
  padding: 0;

  &:hover {
    cursor: pointer;
  }
}
