.footer {
  border-top: 6px solid $blue;
  background: $black;
  color: $white;

  display: flex;
  justify-content: space-between;

  padding-top: 16px;
  padding-bottom: 16px;
  line-height: 2;

  @include max-media-query($screen-sm-max) {
    display: none;
  }
}

.footer__date,
.footer__location {
  margin-right: 48px;
}

.footer__right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  flex-grow: 1;
  text-align: right;
  font-size: $font-size-sm;
  letter-spacing: $letter-spacing-sm;
}

.footer__links {
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.footer__links .icon-link {
  margin-left: 24px;
  @include svg-color($white);

  .icon-link__icon {
    height: 28px;
    width: 28px;
  }
}
.footer__links {
  $footer-icon-size: 28px;
  .icon-link__icon {
    height: $footer-icon-size;
    width: $footer-icon-size;
  }
  .m--facebook .icon-link__icon {
    height: 0.9 * $footer-icon-size;
    width: 0.9 * $footer-icon-size;
  }
}
