.footer {
  background: $gray;
  color: $white;

  display: flex;
  justify-content: space-between;

  padding-top: 16px;
  padding-bottom: 16px;
  line-height: 2;

  @include max-media-query($screen-sm-max) {
    display: none;
  }
}

.footer__date,
.footer__location {
  margin-right: 48px;
}

.footer__right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  flex-grow: 1;
  text-align: right;
  font-size: $font-size-sm;
  letter-spacing: $letter-spacing-sm;
}

.footer__links .icon-link {
  margin-left: 32px;
}
