.header__title,
.header__navbar {
  @include max-media-query($screen-sm-max) {
    display: none;
  }
}

.header__home-link,
.header__navbar__nav-links .nav-link {
  margin: 0 -2px;
  padding: 12px 18px;
  @include unstyled-link;
  transition: $transition;
  &.selected {
    color: $white;
    @include skew-bg($black);
  }
}

.header__navbar {
  z-index: 1;
  text-align: right;
  margin: 0 auto;

  width: 694px;
  max-width: $content-wide-max-width;
  font-size: $font-size-sm;
  letter-spacing: $letter-spacing-md;
  text-transform: uppercase;
  border-top: $border-size solid $blue;
  border-bottom: $border-size solid $blue;
  padding: 24px 12px;

  transition: $transition;
  &:before { transition: $transition; }
  > * { display: inline; }
  .header__home-link {
    transition: $transition;
    opacity: 1;
  }
  @include skew-bg($white);
}

.header__navbar.m--fixed {
  @include unskew-bg($white);
  color: $black;
  border-top: 0px solid $blue;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  .header__home-link {
    opacity: 0;
  }
}

.header__navbar.m--right {
  padding: $font-size-md $content-md-gutter;
  width: calc(100% - (2 * #{$content-md-gutter}));
  $content-dynamic-break-point: $page-max-width + (2 * $content-md-gutter);
  @include apply-padding($content-dynamic-break-point, $flex-padding-wide);
  padding-top: 0;
  padding-bottom: 0;
}

.header__navbar.m--follower {
  display: none;
  opacity: 0;
  .header__home-link {
    display: none;
  }
}

@include min-media-query($screen-md-min) {
  .m--fixed + .header__navbar.m--follower {
    display: block;
  }
}
