.header__picture {
  background: gray;
  height: 80px;
}

.header__navbar {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;

  border-top: 1px solid black;
  border-bottom: 1px solid black;

  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;

  @include max-media-query($screen-sm-max) {
      display: none;
  }
}

.header__navbar__nav-links .nav-link {
  margin-left: 32px;
}
