.home {
  z-index: 0;
  display: flex;
  overflow-y: scroll;
  // min-height: calc(100% - 85px);
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include min-media-query($screen-md-min) {
    min-height: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.home__event-title {
  text-align: center;
  margin: 0;
}

.home__nav-links {
  margin-top: 24px;
  @include max-media-query($screen-sm-max) {
    display: none;
  }
}

.home__nav-links .nav-link {
  font-size: $font-size-lg;
  margin-left: 48px;
  color: inherit;
  text-decoration: none;
  &:first-child { margin-left: 0; }
  &:hover { text-decoration: underline; }
}

.home .fest-info {
  flex-shrink: 0;
  margin-top: 48px;
}

.home__cta-link,
.home__application-info {
  margin: 48px 0;
  letter-spacing: 0.1em;
  @include min-media-query($screen-md-min) {
    margin-bottom: 0;
  }
}

.home__cta-link {
  @extend .unstyled-link;
  text-transform: uppercase;
  font-size: $font-size-lg;
  letter-spacing: 0.1em;
  text-align: center;
  background: $gray;
  padding: 12px 48px;
}

.home__icon-links {
  margin-top: 48px;
  @include max-media-query($screen-sm-max) {
    display: none;
  }
}

.home__icon-links .icon-link {
  margin-left: 24px;
  &:first-child { margin-left: 0; }
}
