.home {
  display: flex;
  position: absolute;
  top: 0;
  bottom: 10%;
  left: 0;
  right: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home__event-title {
  text-align: center;
}

.home .fest-info {
  margin-top: 24px;
}

.home__cta-link,
.home__application-info {
  margin-top: 48px;
  letter-spacing: 0.1em;
}

.home__cta-link {
  @extend .unstyled-link;
  text-transform: uppercase;
  font-size: $font-size-lg;
  letter-spacing: 0.1em;
  text-align: center;
  background: $gray;
  padding: 12px 48px;
}
