html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: $roboto;
}

.main {
  position: relative;
  flex-grow: 1;
  padding-top: 48px;
  & > *:last-child {
    padding-bottom: 22px;
  }
}
