html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: $roboto;
  font-size: $font-size-md;
  letter-spacing: $letter-spacing-md;
  @include max-media-query($screen-sm-max) {
    padding-top: $mobile-header-height;
    min-height: calc(100% - #{$mobile-header-height});
  }
}

.main {
  position: relative;
  flex-grow: 1;
  @include min-media-query($screen-md-min) {
    padding-top: 48px;
    & > *:last-child {
      padding-bottom: 22px;
    }
  }
}
