$mobile-header-spacing: $content-sm-gutter;

.mobile-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background: $white;
  font-size: 28px;

  padding-top: $mobile-header-spacing;
  padding-bottom: $mobile-header-spacing;

  @include min-media-query($screen-md-min) {
    display: none;
  }
}

.mobile-header__home-link {
  margin-top: 4px;
}

.mobile-header__home-link {
  @extend .unstyled-link;
}

button.mobile-menu__open-button {
  height: $mobile-header-spacing * 1.5;
}

.mobile-header .icon--display {
  height: $mobile-header-spacing * 1.5;
  width: $mobile-header-spacing * 1.5;
  * {
    fill: $black;
  }
}
