$mobile-menu-spacing: $content-sm-gutter;
$mobile-menu-color: $white;
$mobile-menu-bg: $black;

.mobile-menu {
  display: none;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: calc(100% - (2 * #{$mobile-menu-spacing}));
  z-index: 1;

  font-size: 28px; // TODO change or make into variable
  padding-top: $mobile-menu-spacing;
  padding-bottom: $mobile-menu-spacing;

  color: $mobile-menu-color;
  @include svg-color($mobile-menu-color);
  background: $mobile-menu-bg;

  @include max-media-query($screen-sm-max) {
    &.m--open {
      display: flex;
      flex-direction: column;
    }
  }
}

.mobile-menu .nav-link {
  margin-top: 24px;
}

.mobile-menu__home-link {
  margin-top: 4px;
}

.mobile-menu__home-link,
.mobile-menu .nav-link {
  padding: 0 12px;
  align-self: flex-start;
  @include unstyled-link-dark;
}

.mobile-menu__icons {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: absolute;
  top: $mobile-menu-spacing;
  right: $mobile-menu-spacing;
  height: calc(100% - (2 * #{$mobile-menu-spacing}));
}

.mobile-menu__spacer {
  flex-grow: 1;
}

button.mobile-menu__open-button,
button.mobile-menu__close-button {
  appearance: none;
  border: none;
  background: none;
  padding: 0;
}

button.mobile-menu__close-button {
  height: $icon-size;
  margin-bottom: 24px;
}

.mobile-menu .icon-link {
  margin-top: $mobile-menu-spacing;
  height: 32px;
}

.mobile-menu .m--email .icon-link__icon {
  height: 0.9 * $icon-size;
  width: 0.9 * $icon-size;
}
