$mobile-header-spacing: $content-sm-gutter;

.mobile-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background: $black;
  color: $white;
  font-size: $font-size-lg;

  padding-top: 0.5 * $mobile-header-spacing;
  padding-bottom: 0.5 * $mobile-header-spacing;

  @include min-media-query($screen-md-min) {
    display: none;
  }
}

.mobile-header__home-link {
  font-family: $display;
  font-size: 32px;
  margin-top: -4px;
}

.mobile-header__home-link {
  position: relative;
  padding: 0 12px;
  left: -12px;
  @include unstyled-link;
}

button.mobile-menu__open-button {
  height: $mobile-header-spacing * 1.5;
  @include svg-color($white);
}
