$column-spacer: 48px;
$row-spacer: 36px;

.section {
  display: flex;
  flex-direction: column;
  margin-top: $row-spacer;
  margin-bottom: 2 * $row-spacer;
  &:last-child {
    margin-bottom: $row-spacer;
  }

  &.m--reverse {
    flex-direction: row-reverse;
    .section__content {
      text-align: right;
    }
  }

  @include min-media-query($screen-md-min) {
    flex-direction: row;
    &:last-child {
      margin-bottom: 2 * $row-spacer;
    }
  }
}

.section__heading-container {
  align-self: center;
  @include min-media-query($screen-md-min) {
    align-self: flex-start;
    width: calc(((100% - (2 * #{$column-spacer})) * 0.333));
  }
}

.section__heading {
  text-transform: uppercase;
  font-size: $font-size-lg;
  letter-spacing: $letter-spacing-lg;
  margin: 0;
  text-align: center;
  color: $white;
  padding: 12px 24px;
  @include skew-bg($black);
  @include right-highlight;
}

.section__spacer {
  width: $column-spacer;
  height: $row-spacer;
}

.section__content {
  line-height: 1.667;
  font-size: $font-size-md;
  letter-spacing: $letter-spacing-md;
  @include min-media-query($screen-md-min) {
    padding-top: 14px;
    width: calc(((100% - (2 * #{$column-spacer})) * 0.667) + #{$column-spacer});
  }
}
