@mixin skew-bg($color: $black) {
  position: relative;

  &:before {
    content: '';
    transition: $transition;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background: $color;
    transform: skew(-1 * $angle);
    z-index: -1;
  }
}

@mixin unskew-bg($color: $black) {
  &:before {
    background: $color;
    transform: skew(0);
  }
}

@mixin svg-color($color: $black) {
  * {
    fill: $color;
  }
}

@mixin unstyled-link($hover-color: $green) {
  color: inherit;
  text-decoration: none;
  @include skew-bg($transparent);

  &:hover {
    cursor: pointer;
    @include skew-bg($hover-color);
  }
}

@mixin right-highlight($color: $blue) {
  position: relative;

  &:before {
    content: '';
    @include min-media-query($screen-md-min) {
      border-right: (2 * $border-size) solid $color;
    }
    @include max-media-query($screen-sm-max) {
      border-bottom: $border-size solid $color;
    }
  }
}
