@mixin skew-bg($color: $gray) {
  position: relative;

  &:before {
    content: '';

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background: $color;
    transform: skew(-1 * $angle);
    z-index: -1;
  }
}

@mixin unskew-bg($color: $gray) {
  position: relative;

  &:before {
    content: '';

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background: $color;
    transform: skew(0);
    z-index: -1;
  }
}
