<div class="footer container--min content--dynamic">
  <div class="footer__fest-info">
    <%= @fest.fest_string %>
  </div>
  <% if @fest.address.present? %>
    <div class="footer__fest-address">
      <%= @fest.address.address_string %>
    </div>
  <% end %>
  <div class="footer__fest-info">
    © 2017 EBABZ. All rights reserved.
  </div>
  <div class="footer__links">
    <%= render "icon_links" %>
  </div>
</div>
