<div class="footer container--min content--dynamic">
  <div class="footer__event-info">
    <%= @event.event_string %>
  </div>
  <% if @event.address.present? %>
    <div class="footer__event-address">
      <%= @event.address.address_string %>
    </div>
  <% end %>
  <div class="footer__event-info">
    © 2017 EBABZ. All rights reserved.
  </div>
  <div class="footer__links">
    <%= render "icon_links" %>
  </div>
</div>
