<div class="footer container--min content--dynamic">
  <div class="footer__event-info">
  </div>
  <div class="footer__links">
    <a>ebabzfest@gmail.com</a>
    <a>Facebook</a>
    <a>Instagram</a>
  </div>
</div>
