<%= render "mobile_menu" %>

<div class="header__picture container--min content--wide">
</div>

<div id="nav" class="header__navbar">
  <%= link_to "Home",
    root_path,
    class: "header__home-link"
  %>
  <div class="header__navbar__nav-links">
    <%= render "nav_links" %>
  </div>
</div>

<div id="nav-follower" class="header__navbar m--follower">
  <%= link_to "Home",
    root_path,
    class: "header__home-link"
  %>
</div>
