<div class="header">
  <div class="header__picture container--min content--wide">
  </div>
  <div class="container--pad content--dynamic">
    <%= render "mobile_menu" %>
  </div>
  <nav id="nav" class="header__navbar container--pad content--dynamic">
    <%= link_to "Home",
      root_path,
      class: "header__home-link"
    %>
    <div class="header__navbar__nav-links">
      <%= render "nav_links" %>
    </div>
  </nav>
</div>
