<div class="title">
  <div class="title__east-bay">East Bay</div>
  <div class="title__alternative-book">Alternative Book</div>
  <div class="title__and-zine-fest">
    <span class="title__and">and&nbsp;</span>
    <span class="title__zine-fest">Zine Fest</span>
  </div>
</div>
